Repository bakaqc/evora-17c: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./backend/**/*.ts", pnpm prettier --write "./backend/**/*.js", pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx", pnpm prettier --write "./frontend/**/*.js"

update: api version to 1.3.2
  backend/package.json
Due: none

update: update tailwind config
  frontend/tailwind.config.js
Due: pnpm prettier --write "./frontend/**/*.js"

add: add file postcss
  frontend/postcss.config.cjs
Due: none

update: update code
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/assets/.gitkeep
  frontend/src/assets/review-UI.txt
  frontend/src/components/.gitkeep
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add picture
  frontend/src/assets/hero.jpg
  frontend/src/assets/logo.jpg
  frontend/src/assets/logo1.png
Due: none

add: data of constant, icons and login options
  frontend/src/index.css
  frontend/src/ultils/.gitkeep
  frontend/src/ultils/constant.ts
  frontend/src/ultils/dataContact.ts
  frontend/src/ultils/dataIntro.ts
  frontend/src/ultils/icons.ts
  frontend/src/ultils/loginManage.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

add: change main file and add some components
  frontend/src/components/Banner.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Intro.tsx
  frontend/src/components/Item.tsx
  frontend/src/components/List.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/components/index.ts
  frontend/src/main.tsx
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: add some public page file
  frontend/src/containers/public/.gitkeep
  frontend/src/containers/public/Header.tsx
  frontend/src/containers/public/Home.tsx
  frontend/src/containers/public/HomePage.tsx
  frontend/src/containers/public/LoginAdmin.tsx
  frontend/src/containers/public/LoginUser.tsx
  frontend/src/containers/public/Navigation.tsx
  frontend/src/containers/public/RegisterUser.tsx
  frontend/src/containers/public/index.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: fix sonar duplicate
  frontend/src/components/ButtonForLogin.tsx
  frontend/src/components/InputField.tsx
  frontend/src/components/index.ts
  frontend/src/containers/public/LoginAdmin.tsx
  frontend/src/containers/public/LoginUser.tsx
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: setup cloudinary & multer package
  backend/package.json
  backend/pnpm-lock.yaml
Due: none

fix: fix bug sonar
  frontend/src/components/Contact.tsx
  frontend/src/components/Intro.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/ultils/dataIntro.ts
  frontend/src/ultils/icons.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: cloudinary config
  backend/src/domains/upload/config/cloudinary.config.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: multer config
  backend/src/domains/upload/config/multer.config.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: setup upload module
  backend/src/domains/domains.module.ts
  backend/src/domains/upload/upload.controller.ts
  backend/src/domains/upload/upload.module.ts
  backend/src/domains/upload/upload.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: cloudinary config to app module
  backend/src/app.module.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.4.0
  backend/package.json
Due: none

update: user schema
  backend/src/schemas/user.schema.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: user create dto
  backend/src/domains/users/dto/createUser.dto.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: auth service
  backend/src/domains/auth/auth.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: otp service
  backend/src/domains/auth/otp.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.4.1
  backend/package.json
Due: none

fix: sonarcloud issue
  backend/src/app.module.ts
  backend/src/domains/upload/upload.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.4.2
  backend/package.json
Due: none

fix: err build backend
  backend/src/domains/upload/upload.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.4.3
  backend/package.json
Due: none

add: add Footer
  frontend/src/assets/bg.jpg
  frontend/src/containers/public/Footer.tsx
  frontend/src/containers/public/Home.tsx
  frontend/src/containers/public/index.ts
  frontend/src/ultils/icons.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: err build frontend
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/containers/public/Home.tsx
  frontend/src/containers/public/Navigation.tsx
  frontend/src/main.tsx
  frontend/src/schemas/booking.schema.ts
  frontend/src/schemas/notify.schema.ts
  frontend/src/schemas/payment.schema.ts
  frontend/src/schemas/review.schema.ts
  frontend/vite.config.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: api version to 1.4.4
  backend/package.json
  backend/src/domains/parties/parties.controller.ts
  backend/src/domains/reviews/reviews.controller.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: user update dto
  backend/src/domains/users/dto/updateUser.dto.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: remove Contact component
  frontend/src/components/Contact.tsx
  frontend/src/components/index.ts
  frontend/src/containers/public/Home.tsx
  frontend/src/ultils/dataContact.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: add Verify OTP screen
  frontend/src/App.tsx
  frontend/src/containers/public/VerifyOTP.tsx
  frontend/src/containers/public/index.ts
  frontend/src/ultils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: add libary
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

add: add noti messsage box
  frontend/src/App.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add type, fortmat and export
  frontend/src/axiosConfig.ts
  frontend/src/components/Button.tsx
  frontend/src/components/index.ts
  frontend/src/main.tsx
  frontend/src/redux.ts
  frontend/src/stores/actions/.gitkeep
  frontend/src/stores/actions/actionTypes.ts
  frontend/src/stores/actions/index.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: add different type of input
  frontend/src/components/InputForLogin.tsx
  frontend/src/components/InputForOTP.tsx
  frontend/src/components/InputForRepass.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add component Select
  frontend/src/components/Select.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add Login and UI after login
  frontend/src/containers/public/LoginUser.tsx
  frontend/src/containers/public/Navigation.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add Register and reducer
  frontend/src/containers/public/RegisterUser.tsx
  frontend/src/containers/public/VerifyOTP.tsx
  frontend/src/services/auth.ts
  frontend/src/stores/actions/auth.ts
  frontend/src/stores/reducers/authReducer.ts
  frontend/src/stores/reducers/rootReducer.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: add icons, type and validate
  frontend/src/ultils/icons.ts
  frontend/src/ultils/type.ts
  frontend/src/ultils/validateField.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

fix: fix bug sonar
  frontend/src/axiosConfig.ts
  frontend/src/components/Select.tsx
  frontend/src/services/auth.ts
  frontend/src/stores/reducers/authReducer.ts
  frontend/src/ultils/validateField.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

Path conditions:
  pnpm prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  pnpm prettier --write "./backend/**/*.js": any of: backend/**/*.js
  pnpm prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  pnpm prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  pnpm prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
