Repository bakaqc/evora-17c: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./backend/**/*.ts", pnpm prettier --write "./backend/**/*.js", pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx", pnpm prettier --write "./frontend/**/*.js"

add: pagination decorator
  backend/src/domains/auth/decorators/pagination.decorator.ts
  backend/src/domains/bookings/bookings.controller.ts
  backend/src/domains/parties/parties.controller.ts
  backend/src/domains/users/users.controller.ts
  backend/src/domains/vouchers/vouchers.controller.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.4
  backend/package.json
Due: none

fix: fix config router
  frontend/src/App.tsx
  frontend/src/ultils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: login admin
  frontend/src/containers/public/Navigation.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: format path constant
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/ultils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: folder name utils
  frontend/src/axiosConfig.ts
  frontend/src/components/Banner.tsx
  frontend/src/components/InputField.tsx
  frontend/src/components/InputForLogin.tsx
  frontend/src/components/InputForOTP.tsx
  frontend/src/components/Intro.tsx
  frontend/src/components/Menu.tsx
  frontend/src/components/Select.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/containers/public/Footer.tsx
  frontend/src/containers/public/Header.tsx
  frontend/src/containers/public/LoginUser.tsx
  frontend/src/containers/public/Navigation.tsx
  frontend/src/containers/public/RegisterUser.tsx
  frontend/src/containers/public/VerifyOTP.tsx
  frontend/src/containers/system/index.ts
  frontend/src/routes/admin/AdminRoutes.tsx
  frontend/src/routes/user/UserRoutes.tsx
  frontend/src/services/auth.ts
  frontend/src/stores/actions/auth.ts
  frontend/src/stores/reducers/authReducer.ts
  frontend/src/stores/reducers/rootReducer.ts
  frontend/src/utils/apiBase.ts
  frontend/src/utils/constant.ts
  frontend/src/utils/dataIntro.ts
  frontend/src/utils/icons.ts
  frontend/src/utils/inputValidate.ts
  frontend/src/utils/loginManage.ts
  frontend/src/utils/type.ts
  frontend/src/utils/validateField.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: login by admin account
  frontend/src/containers/public/LoginAdmin.tsx
  frontend/src/containers/public/Navigation.tsx
  frontend/src/routes/admin/AdminRoutes.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add manage user page
  frontend/src/containers/system/ManageUser.tsx
  frontend/src/containers/system/index.ts
  frontend/src/stores/actions/actionTypes.ts
  frontend/src/stores/actions/auth.ts
  frontend/src/stores/reducers/authReducer.ts
  frontend/src/stores/reducers/rootReducer.ts
  frontend/src/utils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: update LoginAdmin.tsx
  frontend/src/containers/public/LoginAdmin.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: duplicate on sonarcloud
  frontend/src/containers/public/LoginAdmin.tsx
  frontend/src/containers/system/ManageUser.tsx
  frontend/src/schemas/user.schema.ts
  frontend/src/services/user.ts
  frontend/src/utils/filters.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: sonarcloud issue
  frontend/src/containers/system/ManageUser.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add login admin
  frontend/src/containers/public/LoginAdmin.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: login admin
  frontend/src/containers/system/LoginAdmin.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: fix sonar duplicated
  frontend/src/components/commons/RegisterSection.tsx
  frontend/src/components/commons/RightColumn.tsx
  frontend/src/containers/public/index.ts
  frontend/src/containers/system/LoginAdmin.tsx
  frontend/src/containers/system/index.ts
  frontend/src/routes/admin/AdminRoutes.tsx
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: sonar duplicated error
  frontend/src/components/commons/LoginInputField.tsx
  frontend/src/containers/system/LoginAdmin.tsx
  frontend/src/stores/reducers/authReducer.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: sonar extract nested ternary
  frontend/src/containers/system/ManageUser.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: package.json file
  frontend/package.json
Due: none

fix: package.json
  frontend/pnpm-lock.yaml
Due: none

update: api get one and list party
  backend/src/domains/parties/parties.controller.ts
  backend/src/domains/parties/parties.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.5
  backend/package.json
Due: none

update: format response fetch parties
  backend/src/domains/parties/parties.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.6
  backend/package.json
Due: none

fix: err publish backend image
  .github/workflows/publish-backend-image.yml
Due: none

add: pagination
  frontend/src/components/PageNumber.tsx
  frontend/src/components/Slider.tsx
  frontend/src/containers/public/Pagination.tsx
  frontend/src/services/party.ts
  frontend/src/stores/actions/party.ts
  frontend/src/stores/reducers/partyReducer.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: fix conflict
  frontend/src/components/Item.tsx
  frontend/src/components/List.tsx
  frontend/src/components/index.ts
  frontend/src/containers/public/DetailParty.tsx
  frontend/src/containers/public/HomePage.tsx
  frontend/src/containers/public/LoginUser.tsx
  frontend/src/containers/public/index.ts
  frontend/src/stores/actions/actionTypes.ts
  frontend/src/stores/actions/index.ts
  frontend/src/stores/reducers/rootReducer.ts
  frontend/src/utils/icons.ts
  frontend/src/utils/type.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: delete useless component
  frontend/src/components/Slider.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: delete useless file
  frontend/src/components/index.ts
  frontend/src/containers/public/DetailParty.tsx
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: fix store
  frontend/src/redux.ts
  frontend/src/stores/reducers/rootReducer.ts
  frontend/src/stores/reducers/userReducer.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

add: add filter by category
  frontend/src/containers/public/Navigation.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: fix sonar
  frontend/src/components/Item.tsx
  frontend/src/components/PageNumber.tsx
  frontend/src/services/party.ts
  frontend/src/stores/reducers/partyReducer.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: fix bug of className
  frontend/src/containers/public/Navigation.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: fix bug sonar
  frontend/src/components/PageNumber.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

Path conditions:
  pnpm prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  pnpm prettier --write "./backend/**/*.js": any of: backend/**/*.js
  pnpm prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  pnpm prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  pnpm prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
