Repository bakaqc/evora-17c: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./backend/**/*.ts", pnpm prettier --write "./backend/**/*.js", pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx", pnpm prettier --write "./frontend/**/*.js"

fix: fix sonar bug
  frontend/src/ultils/validateField.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

fix: fix bug sonar
  frontend/src/ultils/validateField.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

update: auth service to handle login when err
  backend/src/domains/auth/auth.controller.ts
  backend/src/domains/auth/auth.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: logic delete user
  backend/src/domains/users/users.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.4.5
  backend/package.json
Due: none

add: admin interface
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/assets/avatar.png
  frontend/src/assets/booking.png
  frontend/src/assets/home.png
  frontend/src/assets/logout.png
  frontend/src/assets/maleFemale.png
  frontend/src/assets/moreDark.png
  frontend/src/assets/notify.png
  frontend/src/assets/party.png
  frontend/src/assets/payment.png
  frontend/src/assets/profile.png
  frontend/src/assets/setting.png
  frontend/src/assets/user.png
  frontend/src/assets/voucher.png
  frontend/src/components/BookingChart.tsx
  frontend/src/components/CountChart.tsx
  frontend/src/components/DashBoardLayout.tsx
  frontend/src/components/FinanceChart.tsx
  frontend/src/components/Menu.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Notify.tsx
  frontend/src/components/UserList.tsx
  frontend/src/containers/system/.gitkeep
  frontend/src/containers/system/AdminPage.tsx
  frontend/src/containers/system/ListBookings.tsx
  frontend/src/containers/system/ListParties.tsx
  frontend/src/containers/system/ListPayments.tsx
  frontend/src/containers/system/ListUsers.tsx
  frontend/src/containers/system/ListVouchers.tsx
  frontend/src/ultils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: create `Dockerfile` for backend
  backend/.dockerignore
  backend/Dockerfile
Due: none

update: modify Dockerfile to ignore scripts during installation and set user to backend
  backend/Dockerfile
Due: none

fix: fix sonarcloud scan
  backend/Dockerfile
Due: none

add: docker file
  backend/.dockerignore
  backend/Dockerfile
  backend/README.md
Due: none

add: admin page
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/assets/avatar.png
  frontend/src/assets/booking.png
  frontend/src/assets/home.png
  frontend/src/assets/logout.png
  frontend/src/assets/maleFemale.png
  frontend/src/assets/moreDark.png
  frontend/src/assets/notify.png
  frontend/src/assets/party.png
  frontend/src/assets/payment.png
  frontend/src/assets/profile.png
  frontend/src/assets/setting.png
  frontend/src/assets/user.png
  frontend/src/assets/voucher.png
  frontend/src/components/BookingChart.tsx
  frontend/src/components/CountChart.tsx
  frontend/src/components/DashBoardLayout.tsx
  frontend/src/components/FinanceChart.tsx
  frontend/src/components/Menu.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/containers/system/AdminPage.tsx
  frontend/src/ultils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: list payment
  frontend/src/containers/system/ListVouchers.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: list payment
  frontend/src/containers/system/ListPayments.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: list party
  frontend/src/containers/system/ListParties.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: list booking
  frontend/src/containers/system/.gitkeep
  frontend/src/containers/system/ListBookings.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: menu
  frontend/src/components/Menu.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

delete: frontend/src/containers/system/ListBookings.tsx
  frontend/src/containers/system/ListBookings.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

delete: frontend/src/containers/system/ListParties.tsx
  frontend/src/containers/system/ListParties.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

delete: frontend/src/containers/system/ListPayments.tsx
  frontend/src/containers/system/ListPayments.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

delete: frontend/src/containers/system/ListVouchers.tsx
  frontend/src/containers/system/ListVouchers.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

delete: frontend/src/containers/system/ListUsers.tsx
  frontend/src/containers/system/ListUsers.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

delete: frontend/src/components/UserList.tsx
  frontend/src/components/UserList.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: index.ts
  frontend/src/containers/system/index.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

update: App.tsx
  frontend/src/App.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: app.tsx
  frontend/src/App.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: workflow to automation publish backend image
  .github/workflows/publish-backend-image.yml
Due: none

fix: fix import alias
  frontend/src/components/index.ts
  frontend/src/containers/public/index.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

add: setup docker guide
  README.md
  SETUP_DOCKER_GUIDE.md
Due: none

update: constant.ts
  frontend/src/ultils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

fix: sonarcloud issue
  frontend/src/App.tsx
  frontend/src/components/Menu.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: config routes
  frontend/src/App.tsx
  frontend/src/routes/admin/AdminRoutes.tsx
  frontend/src/routes/user/UserRoutes.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: delete cmt
  frontend/src/App.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: api get all party with pagination
  backend/src/domains/parties/parties.controller.ts
  backend/src/domains/parties/parties.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api get all booking with pagination
  backend/src/domains/bookings/bookings.controller.ts
  backend/src/domains/bookings/bookings.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api get all user with pagination
  backend/src/domains/users/users.controller.ts
  backend/src/domains/users/users.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api get all voucher with pagination
  backend/src/domains/vouchers/vouchers.controller.ts
  backend/src/domains/vouchers/vouchers.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: api reset password
  backend/src/domains/auth/auth.controller.ts
  backend/src/domains/auth/auth.service.ts
  backend/src/utils/hash.util.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.0
  backend/package.json
Due: none

Path conditions:
  pnpm prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  pnpm prettier --write "./backend/**/*.js": any of: backend/**/*.js
  pnpm prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  pnpm prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  pnpm prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
