Repository bakaqc/evora-17c: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./backend/**/*.ts", pnpm prettier --write "./backend/**/*.js", pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx", pnpm prettier --write "./frontend/**/*.js"

.lintstagedrc:

{
	"backend/**/*.ts": ["pnpm prettier --write \"./backend/**/*.ts\""],
	"backend/**/*.js": ["pnpm prettier --write \"./backend/**/*.js\""],
	"frontend/**/*.ts": ["pnpm prettier --write \"./frontend/**/*.ts\""],
	"frontend/**/*.tsx": ["pnpm prettier --write \"./frontend/**/*.tsx\""],
	"frontend/**/*.js": ["pnpm prettier --write \"./frontend/**/*.js\""]
}

add: implement verify util
  backend/src/utils/verify.util.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: implement api change password by email
  backend/src/domains/users/users.controller.ts
  backend/src/domains/users/users.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.0.1
  backend/package.json
Due: none

update: booking.schema.ts
  frontend/src/schemas/booking.schema.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

update: notify.schema.ts
  frontend/src/schemas/notify.schema.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

update: party.schema.ts
  frontend/src/schemas/party.schema.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

update: user.schema.ts
  frontend/src/schemas/user.schema.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

add: implement api sent & verify OTP
  backend/src/domains/auth/auth.controller.ts
  backend/src/domains/auth/auth.module.ts
  backend/src/domains/auth/auth.service.ts
  backend/src/domains/auth/dto/otp.dto.ts
  backend/src/domains/auth/otp.service.ts
  backend/src/domains/domains.module.ts
  backend/src/domains/notifies/templateEmail/emailSignature.ts
  backend/src/domains/notifies/templateEmail/emailVerifyOTP.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.1.0
  backend/package.json
Due: none

update: `user` schema
  backend/src/schemas/user.schema.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: dto create `user`
  backend/src/domains/users/dto/createUser.dto.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: dto update `user`
  backend/src/domains/users/dto/updateUser.dto.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: template email verify OTP
  backend/src/domains/notifies/templateEmail/emailVerifyOTP.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api send OTP to fight spam
  backend/src/domains/auth/otp.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.1.1
  backend/package.json
Due: none

delete: google oauth 20 package
  backend/package.json
  backend/pnpm-lock.yaml
Due: none

update: jwt config for app module
  backend/src/app.module.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: setup jwt config for auth
  backend/src/domains/auth/config/jwt.config.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: implement public & roles decorator
  backend/src/domains/auth/decorators/public.decorator.ts
  backend/src/domains/auth/decorators/roles.decorator.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: implement login dto
  backend/src/domains/auth/dto/login.dto.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: implement role enum
  backend/src/domains/auth/enums/role.enum.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: implement guard
  backend/src/domains/auth/guards/admin.guard.ts
  backend/src/domains/auth/guards/jwt.guard.ts
  backend/src/domains/auth/guards/roles.guard.ts
  backend/src/domains/auth/guards/super-admin.guard.ts
  backend/src/domains/auth/guards/user.guard.ts
Due: pnpm prettier --write "./backend/**/*.ts"

add: implement jwt strategy
  backend/src/domains/auth/strategies/jwt.strategy.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: setup jwt module
  backend/src/domains/auth/auth.module.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: implement api register & login
  backend/src/domains/auth/auth.controller.ts
  backend/src/domains/auth/auth.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: setup ApiBearerAuth & Public api
  backend/src/domains/bookings/bookings.controller.ts
  backend/src/domains/notifies/notifies.controller.ts
  backend/src/domains/parties/parties.controller.ts
  backend/src/domains/payments/payments.controller.ts
  backend/src/domains/reviews/reviews.controller.ts
  backend/src/domains/users/users.controller.ts
  backend/src/domains/vouchers/vouchers.controller.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: setup jwt auth & role guard for domain module
  backend/src/domains/domains.module.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.2.0
  backend/package.json
Due: none

update: user schema
  backend/src/schemas/user.schema.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: dto create user
  backend/src/domains/users/dto/createUser.dto.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: verify email when login
  backend/src/domains/auth/auth.service.ts
  backend/src/domains/auth/guards/roles.guard.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: setup authorization for all module
  backend/src/domains/auth/auth.controller.ts
  backend/src/domains/bookings/bookings.controller.ts
  backend/src/domains/parties/parties.controller.ts
  backend/src/domains/payments/payments.controller.ts
  backend/src/domains/reviews/reviews.controller.ts
  backend/src/domains/users/users.controller.ts
  backend/src/domains/vouchers/vouchers.controller.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.3.0
  backend/package.json
Due: none

fix: err generate OTP not security of sonarcloud
  backend/src/domains/auth/otp.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.3.1
  backend/package.json
Due: none

fix: 2 sonar cloud issue
  backend/src/domains/auth/guards/jwt.guard.ts
  backend/src/domains/auth/guards/roles.guard.ts
Due: pnpm prettier --write "./backend/**/*.ts"
