Repository bakaqc/evora-17c: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./backend/**/*.ts", pnpm prettier --write "./backend/**/*.js", pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx", pnpm prettier --write "./frontend/**/*.js"

fix: fix bug sonar
  frontend/src/components/PageNumber.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: fix conflict and sonar
  frontend/src/containers/public/Navigation.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: party detail page
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Item.tsx
  frontend/src/components/List.tsx
  frontend/src/components/PartyDetail.tsx
  frontend/src/containers/public/PartyDetailPage.tsx
  frontend/src/routes/user/UserRoutes.tsx
  frontend/src/services/party.ts
  frontend/src/services/user.ts
  frontend/src/utils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: banner, footer & home page
  frontend/src/components/Banner.tsx
  frontend/src/components/Intro.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/containers/public/Footer.tsx
  frontend/src/containers/public/HomePage.tsx
  frontend/src/utils/dataIntro.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: search bar
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Item.tsx
  frontend/src/components/List.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: card item
  frontend/src/components/Item.tsx
  frontend/src/components/List.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: list item layout
  frontend/src/components/Item.tsx
  frontend/src/components/List.tsx
  frontend/src/containers/public/HomePage.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: about page
  frontend/src/assets/about_banner.jpg
  frontend/src/components/About.tsx
  frontend/src/components/InputForLogin.tsx
  frontend/src/components/PartyDetail.tsx
  frontend/src/containers/public/AboutPage.tsx
  frontend/src/containers/public/LoginUser.tsx
  frontend/src/routes/user/UserRoutes.tsx
  frontend/src/utils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: api booking
  backend/src/domains/bookings/dto/createBooking.dto.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.7
  backend/package.json
Due: none

update: api payment
  backend/src/domains/payments/dto/createPayment.dto.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.8
  backend/package.json
Due: none

add: data for user collection
  database/.gitkeep
  database/evora.users.json
Due: none

add: add booking and payment feature
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/axiosConfig.ts
  frontend/src/components/PartyDetail.tsx
  frontend/src/containers/public/LoginUser.tsx
  frontend/src/containers/public/Navigation.tsx
  frontend/src/services/booking.ts
  frontend/src/services/payment.ts
  frontend/src/stores/actions/actionTypes.ts
  frontend/src/stores/actions/auth.ts
  frontend/src/stores/actions/index.ts
  frontend/src/stores/actions/party.ts
  frontend/src/stores/actions/user.ts
  frontend/src/stores/reducers/authReducer.ts
  frontend/src/stores/reducers/rootReducer.ts
  frontend/src/stores/reducers/userReducer.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: ui for login
  frontend/src/components/List.tsx
  frontend/src/containers/public/LoginUser.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: setup base ui for payment history
  frontend/src/components/PaymentHistory.tsx
  frontend/src/containers/public/PaymentHistoryPage.tsx
  frontend/src/routes/user/UserRoutes.tsx
  frontend/src/utils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: email service api
  backend/src/domains/notifies/email.service.ts
  backend/src/domains/notifies/notifies.service.ts
  backend/src/domains/notifies/templateEmail/emailBookingSuccess.ts
  backend/src/domains/payments/payments.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.9
  backend/package.json
Due: none

fix: err build backend
  backend/src/domains/notifies/dto/sendEmail.dto.ts
  backend/src/domains/notifies/email.service.ts
  backend/src/domains/notifies/notifies.controller.ts
  backend/src/domains/notifies/notifies.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.10
  backend/package.json
Due: none

update: payment history page
  frontend/src/components/PaymentHistory.tsx
  frontend/src/services/booking.ts
  frontend/src/services/payment.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: err build frontend
  frontend/src/services/booking.ts
  frontend/src/services/payment.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

update: navigate for dropdown header
  frontend/src/components/PaymentHistory.tsx
  frontend/src/containers/public/Navigation.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: party customer unit
  frontend/src/components/Item.tsx
  frontend/src/components/PaymentHistory.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: party detail page
  frontend/src/components/PartyDetail.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: err api update party
  backend/src/domains/parties/parties.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.11
  backend/package.json
Due: none

update: convert html for party description
  frontend/src/components/PartyDetail.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: err create payment api
  backend/src/domains/payments/payments.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.12
  backend/package.json
Due: none

update: redirect url after payment success
  backend/src/domains/payments/momo/momo.service.ts
  backend/src/domains/payments/zalopay/zalopay.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

update: api version to 1.5.13
  backend/package.json
Due: none

update: url of booking history
  frontend/src/containers/public/Navigation.tsx
  frontend/src/utils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: collection data
  database/evora.parties.json
  database/evora.users.json
Due: none

add: form party and list user
  frontend/src/components/Menu.tsx
  frontend/src/components/PartyForm.tsx
  frontend/src/components/commons/LoginInputField.tsx
  frontend/src/containers/system/CreateParty.tsx
  frontend/src/containers/system/ManageUser.tsx
  frontend/src/containers/system/index.ts
  frontend/src/routes/admin/AdminRoutes.tsx
  frontend/src/services/userService.ts
  frontend/src/utils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: PartyForm.tsx
  frontend/src/components/PartyForm.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: party detail
  frontend/src/components/PartyDetail.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: layout list party
  frontend/src/components/List.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: layout for login & register
  frontend/src/components/InputForLogin.tsx
  frontend/src/components/Select.tsx
  frontend/src/containers/public/RegisterUser.tsx
  frontend/src/containers/system/LoginAdmin.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

Path conditions:
  pnpm prettier --write "./backend/**/*.ts": any of: backend/**/*.ts
  pnpm prettier --write "./backend/**/*.js": any of: backend/**/*.js
  pnpm prettier --write "./frontend/**/*.ts": any of: frontend/**/*.ts
  pnpm prettier --write "./frontend/**/*.tsx": any of: frontend/**/*.tsx
  pnpm prettier --write "./frontend/**/*.js": any of: frontend/**/*.js
