Repository bakaqc/evora-17c: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./backend/**/*.ts", pnpm prettier --write "./backend/**/*.js", pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx", pnpm prettier --write "./frontend/**/*.js"

.lintstagedrc:

{
	"backend/**/*.ts": ["pnpm prettier --write \"./backend/**/*.ts\""],
	"backend/**/*.js": ["pnpm prettier --write \"./backend/**/*.js\""],
	"frontend/**/*.ts": ["pnpm prettier --write \"./frontend/**/*.ts\""],
	"frontend/**/*.tsx": ["pnpm prettier --write \"./frontend/**/*.tsx\""],
	"frontend/**/*.js": ["pnpm prettier --write \"./frontend/**/*.js\""]
}

update: name
  frontend/src/components/Item.tsx
  frontend/src/components/PartyDetail.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add send mail booking success
  frontend/src/components/Item.tsx
  frontend/src/components/PartyDetail.tsx
  frontend/src/containers/system/ManageUser.tsx
  frontend/src/services/notifies.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: err get party name in booking history
  frontend/src/components/PaymentHistory.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: fix party name
  frontend/src/components/PartyDetail.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: update Partyform.tsx
  frontend/src/components/PartyForm.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: update PartyForm.tsx
  frontend/src/components/PartyForm.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: update userService.ts
  frontend/src/services/userService.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

update: price format in mail template
  frontend/src/components/PartyDetail.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: navigate to login page
  frontend/src/axiosConfig.ts
  frontend/src/components/PartyDetail.tsx
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: add Logout func
  frontend/src/containers/public/Navigation.tsx
  frontend/src/stores/actions/auth.ts
  frontend/src/stores/actions/user.ts
  frontend/src/stores/reducers/authReducer.ts
  frontend/src/stores/reducers/userReducer.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: fix text white
  frontend/src/components/InputField.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: format table booking history
  frontend/src/components/PaymentHistory.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: icon for dropdown navigation
  frontend/src/containers/public/Navigation.tsx
  frontend/src/utils/icons.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: fix bug sonar
  frontend/src/containers/public/Navigation.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: list booking, list party and form create party
  frontend/src/components/Menu.tsx
  frontend/src/components/Notify.tsx
  frontend/src/components/PartyForm.tsx
  frontend/src/containers/system/ListBooking.tsx
  frontend/src/containers/system/ListParty.tsx
  frontend/src/containers/system/ManageUser.tsx
  frontend/src/containers/system/index.ts
  frontend/src/routes/admin/AdminRoutes.tsx
  frontend/src/services/bookingService.ts
  frontend/src/services/partyService.ts
  frontend/src/utils/constant.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: update party form
  frontend/src/components/PartyForm.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: fix sonar
  frontend/src/containers/system/ListBooking.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: fix sonar
  frontend/src/containers/system/ManageUser.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: fix sonar
  frontend/src/containers/system/ListParty.tsx
  frontend/src/containers/system/ManageUser.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: fix build frontend
  frontend/src/containers/system/ListParty.tsx
  frontend/src/schemas/party.schema.ts
  frontend/src/services/partyService.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

update: admin layout
  frontend/src/components/Menu.tsx
  frontend/src/containers/system/ListBooking.tsx
  frontend/src/containers/system/ListParty.tsx
  frontend/src/containers/system/ManageUser.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

add: add create party
  frontend/src/components/PartyForm.tsx
  frontend/src/services/party.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: fix bug fail
  frontend/src/services/party.ts
Due: pnpm prettier --write "./frontend/**/*.ts"

fix: fix bug sonar
  frontend/src/components/PartyForm.tsx
  frontend/src/services/party.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

fix: fix bug
  frontend/src/components/PartyForm.tsx
  frontend/src/services/party.ts
Due: pnpm prettier --write "./frontend/**/*.ts", pnpm prettier --write "./frontend/**/*.tsx"

add: get data for dashboard admin
  frontend/src/components/BookingChart.tsx
  frontend/src/components/CountChart.tsx
  frontend/src/components/Navbar.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: sonar duplicated
  frontend/src/containers/system/ListBooking.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: admin data
  frontend/src/components/FinanceChart.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Notify.tsx
  frontend/src/containers/system/AdminPage.tsx
  frontend/src/containers/system/LoginAdmin.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

update: zalo service
  backend/src/domains/payments/zalopay/zalopay.service.ts
Due: pnpm prettier --write "./backend/**/*.ts"

fix: fix register
  frontend/src/containers/public/RegisterUser.tsx
Due: pnpm prettier --write "./frontend/**/*.tsx"

fix: increase default limit for bookings, parties, and users to 100
  frontend/src/services/bookingService.ts
  frontend/src/services/partyService.ts
  frontend/src/services/userService.ts
Due: pnpm prettier --write "./frontend/**/*.ts"
